.home {
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__header_group {
    display: flex;
    align-items: center;
    gap: 10px;

    .tag {
      padding: 0 4px;
      background-color: var(--primary-bg-color);
      color: var(--primary-text-color);
      font-weight: bold;
      border-radius: 6px;
    }
  }
}

