.home {
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__header_group {
    display: flex;
    align-items: center;
    gap: 10px;

    .tag {
      padding: 0 4px;
      background-color: #2F7BB0;
      color: #FFFFFF;
      font-weight: bold;
      border-radius: 6px;
    }
  }
}

