:root[data-theme="light"] {
    // MAIN
    --primary-bg-color: #ffffff;
    --primary-text-color: #000;
    --primary-border-color: #1c2054;
    --primary-border-focus-color: #2e338a;
    --secondary-text-color: #5766be;

    // BUTTON
    --primary-btn-bg: darkslateblue;
    --primary-btn-color: white;
    --secondary-btn-bg: darkslategrey;
    --secondary-btn-color: white;

}

:root[data-theme="dark"] {
    // MAIN
    --primary-bg-color: #282828;
    --primary-text-color: #fff;
    --primary-border-color: #5e0d50;
    --primary-border-focus-color: #a6148e;
    --secondary-text-color: hotpink;

    // BUTTON
    --primary-btn-bg: hotpink;
    --primary-btn-color: white;
    --secondary-btn-bg: aquamarine;
    --secondary-btn-color: white;
}